# Fundamentos de SQL para análisis

# Introducción

La transformación en la manera en que las empresas y organizaciones almacenan y gestionan datos.

1. Dos herramientas cruciales en esta transformación son:
   - Base de datos relacional.
   - Lenguaje de Consulta Estructurado (SQL).
2. Estas tecnologías son fundamentales en el procesamiento de datos y son esenciales para empresas que gestionan grandes volúmenes de información.
3. Las empresas utilizan bases de datos relacionales como su principal medio de almacenamiento.
4. Una gran cantidad de estos datos se transfieren a almacenes de datos especializados para análisis avanzados.
5. La mayoría de estos almacenes de datos se acceden mediante SQL.

Las bases de datos relacionales requieren que los datos se ajusten a un formato particular y se siga un algoritmo específico para su procesamiento. Sin embargo, en los últimos tiempos han surgido las bases de datos NoSQL. Estas fueron creadas como una opción diferente para guardar datos, usando tecnologías que no están basadas en el formato relacional o en el lenguaje SQL. Las bases de datos NoSQL están hechas para tareas que las relacionales no pueden hacer de manera eficaz, como trabajar con datos no estructurados, como los tweets, o realizar operaciones de lectura/escritura de forma distribuida. Aunque, es importante señalar que las bases de datos NoSQL están más orientadas a necesidades específicas y no son una solución universal para todas las necesidades de bases de datos. De hecho, el término "NoSQL" evolucionó a "Not Only SQL", lo que indica que estas bases son un añadido, no un sustituto, en el mundo de la gestión de datos. Las bases de datos relacionales y el SQL siguen siendo fundamentales en este ámbito.

Comparadas con las NoSQL, las bases de datos relacionales tienen puntos fuertes. Primero, son versátiles, ya que ofrecen un balance entre características y rendimiento para diversas operaciones. Además, todas utilizan SQL, un lenguaje con fundamentos matemáticos sólidos y fácil de aprender. En resumen, para aquellos que se inician en el análisis de datos, las bases de datos relacionales y SQL son el punto de partida ideal. La mayoría descubrirá que SQL cubre la mayoría de sus necesidades. Solo unos pocos requerirán las capacidades de una base de datos NoSQL, pero aún para ellos, SQL sigue siendo una herramienta valiosa para analizar datos.

**Bases de Datos Relacionales vs NoSQL**

- **Bases de Datos Relacionales**
  - Características:
    - Requieren formato específico.
    - Usan un algoritmo particular para procesamiento.
  - Ventajas:
    - Versátiles: buen balance entre características y rendimiento.
    - Universalidad: todas utilizan SQL.
    - Fundamentos sólidos: SQL tiene una base matemática robusta.
    - Facilidad de aprendizaje: SQL es intuitivo para muchos principiantes.
  - Aplicación:
    - Punto de partida ideal para análisis de datos.
    - Cubre la mayoría de las necesidades de las personas.

- **Bases de Datos NoSQL**
  - Origen:
    - Creadas como alternativa al formato relacional y SQL.
  - Características:
    - Capaces de trabajar con datos no estructurados (ej. tweets).
    - Realizan operaciones distribuidas.
  - Terminología:
    - Evolución del término: De "NoSQL" a "Not Only SQL".
  - Limitaciones:
    - Más orientadas a necesidades específicas.
    - No son una solución universal.
  - Aplicación:
    - Añadido en el mundo de gestión de datos, no un sustituto.

## 1.1 El Mundo de los Datos

Los datos se pueden dividir en tres categorías principales:
- estructurados,
- semi-estructurados y
- no estructurados.



<figure>
<center><img src='https://github.com/limspiga/data-modeling/blob/main/images/67733acf-d83a-4c54-902a-760467625c72.png?raw=true' width="400" />
<figcaption>Figura 2.1: La clasificación de los tipos de datos</figcaption></center>
</figure>

<center>

| Tipo de Datos          | Definición y Características                                                                                  | Ejemplo                                                         |
|------------------------|---------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------|
| **Datos Estructurados**| - Definición atómica clara. <br> - Tipo, rango y significado de valores definidos. <br> - Orden estricto.     | Tarjeta de inscripción escolar: <br> - Número de identificación. <br> - Nombre. <br> - Fecha de nacimiento.              |
| **Datos No Estructurados** | - Sin definición clara. <br> - Difícil extracción y análisis.                                                | - Bloque binario: <br>   * Archivos de video. <br>   * Archivos de audio. <br> - Tokens naturales: <br>   * Redes sociales. <br>   * Discursos humanos.   |
| **Datos Semi-estructurados** | - Sin formato y significado predefinidos. <br> - Cada valor está etiquetado con su definición.             | Información de una casa: <br> - Dirección. <br> - Sótano (opcional). <br> - Garaje (opcional). <br> - Mejoras futuras.    |

</center>

## Bases de Datos Relacionales y SQL
Una base de datos relacional usa un modelo relacional, organizando los datos en relaciones o conjuntos de tuplas. Una tupla, también conocida como registro, es una serie ordenada de atributos que describen dicho registro.

Por ejemplo, una empresa de bienes de consumo de rápido movimiento quiere rastrear a sus clientes. Pueden guardar la información del cliente en una relación llamada customer_info (información del cliente). Cada registro en esta relación contiene detalles sobre un cliente. Los atributos en cada registro incluyen información como el apellido del cliente, nombre, edad, fecha de inscripción y dirección de entrega. Esta relación y sus dos primeros registros se verían así:

<center>

| ID | Last Name | First Name | Age |
|---|---|---|---|
| 1 | Smith | John | 27 |
| 2 | Higgins | Mary | 53 |

Figure 2.2: Ejemplo de customer_info relation

</center>

Como puede ver, cada relación es efectivamente una tabla bidimensional que se parece a una hoja de cálculo de Excel. Por lo tanto, cuando se implementa en una base de datos relacional, estas relaciones se llaman tablas. Cada tabla está compuesta por filas y columnas. Cada fila de la tabla es un registro, y los atributos se representan como columnas de la tabla. No puede haber columnas duplicadas y las columnas deben seguir el mismo orden en todas las filas. Cada columna también tiene un tipo de datos que describe el tipo de datos en la columna.

Aunque no es técnicamente necesario, la mayoría de las tablas en una base de datos relacional tienen una columna (a veces un grupo de columnas) denominada clave primaria, que identifica de manera única una fila de la base de datos. En el ejemplo mostrado en la Figura 2.2, cada fila contiene una columna llamada ID. Este registro, como sugiere el nombre, es un atributo que se puede usar para identificar de manera única este registro. Se conoce como clave relacional. En todas las demás columnas, puede tener datos duplicados en diferentes filas. Pero en la(s) columna(s) de clave primaria, los datos deben ser únicos.

**Base de Datos Relacional y Operaciones CRUD**

- **Base de datos relacional**:
  - Organizadas alrededor de tablas.
  - Datos almacenados dentro de las tablas.

- **Operaciones en Bases de Datos**:
  - **CRUD**:
    - **C** - Crear:
      - Definir el conjunto de datos.
      - Crear registros de datos individuales y colocarlos en el conjunto.
    - **R** - Leer:
      - Acceder y visualizar toda la información del conjunto de datos.
    - **U** - Actualizar:
      - Modificar los registros afectados por cambios.
    - **D** - Eliminar:
      - Eliminar registros individuales.
      - Si no es necesario el conjunto, eliminar toda la definición del conjunto en la base de datos.

- **Objetivo de eliminar registros**:
  - Ahorrar costos de almacenamiento.
  - Aumentar rendimiento.

**Nota**: CRUD es el acrónimo de Crear, Leer, Actualizar y Eliminar.

## Ventajas y Desventajas de las Bases de Datos SQL
**Resumen:**
Las bases de datos relacionales (SQL) son herramientas ampliamente utilizadas para almacenar y procesar datos estructurados debido a sus múltiples ventajas, tales como la representación intuitiva, eficiencia en almacenamiento, declaratividad y robustez. Sin embargo, enfrentan desafíos en áreas como la escalabilidad, el procesamiento de datos no estructurados y el equilibrio entre consistencia y rendimiento.

**Comparativa: Ventajas vs. Desventajas**

**Ventajas:**
1. **Intuitivo:** Representación clara y fácil de entender con tablas.
2. **Eficiente:** Normalización evita redundancia de datos, optimizando el espacio.
3. **Declarativo:** SQL especifica qué datos se quieren sin preocuparse por cómo obtenerlos.
4. **Robusto:** Cumplimiento de atomicidad, consistencia, aislamiento y durabilidad (ACID) garantiza la validez de los datos.

**Desventajas:**
1. **Especificidad relativamente baja:** Limitaciones en la funcionalidad preprogramada.
2. **Escalabilidad limitada:** El costo de recursos crece exponencialmente con la información.
3. **Sacrificar rendimiento por consistencia:** Mecanismos complejos pueden disminuir el rendimiento en escenarios que no requieren alta consistencia.
4. **Falta de capacidad para procesar datos semi-estructurados y no estructurados:** Las bases de datos SQL se centran principalmente en datos estructurados, lo que limita su versatilidad con otros tipos de datos.

# Sqlite Sistema de Gestión de Bases de Datos Relacionales (RDBMS)
SQLite es un RDBMS que administra datos en sistemas informáticos, asegurando su adecuado almacenamiento y recuperación mediante el lenguaje SQL.

Los RDBMS, que manejan bases de datos, vienen en dos variedades: comerciales y de código abierto. Aunque todos siguen en su mayoría un estándar de SQL establecido por ANSI, cada uno tiene pequeñas diferencias en su funcionamiento y en el uso del lenguaje SQL. Durante este curso, usaremos Colab como nuestra herramienta principal para trabajar con SQL. Colab actúa como un espacio de almacenamiento temporal para los datos, y los usuarios interactúan con él a través de distintas herramientas cliente.

A continuación, se presenta la lista de tablas contenidas en la base de datos SQLQA, acompañada de una breve descripción de cada una:

| **Nombre de la tabla**                   | **Descripción**                                                                                                                                                         |
|-----------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| closest_dealerships                     | Contiene la distancia entre cada cliente y concesionario                                                                                                               |
| countries                               | Una tabla vacía con columnas que describen países                                                                                                                      |
| customer_sales                          | Contiene datos brutos en un formato semi-estructurado de algunos registros de ventas                                                                                    |
| customer_survey                         | Contiene retroalimentación con calificaciones de los clientes                                                                                                          |
| customers                               | Contiene información detallada para todos los clientes                                                                                                                 |
| dealerships                             | Contiene información detallada para todos los concesionarios                                                                                                           |
| emails                                  | Contiene los detalles de los correos electrónicos enviados a cada cliente                                                                                              |
| products                                | Contiene los productos vendidos por ZoomZoom                                                                                                                           |
| public_transportation_by_zip            | Contiene la medida de disponibilidad de transporte público en diferentes códigos postales en Estados Unidos                                                            |
| sales                                   | Contiene los registros de ventas de ZoomZoom basados en un registro por cliente por producto                                                                           |
| salespeople                             | Contiene los detalles de los vendedores en todos los concesionarios                                                                                                     |
| top_cities_data                         | Contiene algunos datos agregados sobre el número de clientes en diferentes ciudades                                                                                     |

# Ejercicio 2.01: Realizando tu primera consulta con SELECT.
En este ejercicio, emplearás Python para establecer una conexión con una base de datos de muestra denominada ZoomZoom en tu servidor Sqlite3 y llevarás a cabo una consulta SQL sencilla.

1. Descarga la base de datos sqlda

In [100]:
!pip install tabulate
import sqlite3

# Descargamos la base de datos sqlda
!curl https://raw.githubusercontent.com/limspiga/data-modeling/main/db/sqlda.sql -O

Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (0.9.0)
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 60.5M  100 60.5M    0     0  7708k      0  0:00:08  0:00:08 --:--:-- 15.7M

2. La base de datos sqlda.sql contiene datos de muestra de una empresa imaginaria llamada ZoomZoom, dedicada a la venta en línea de automóviles y scooters eléctricos a través de su plataforma web y red de concesionarios. En cada concesionario hay un vendedor encargado. Los clientes, tras realizar una compra, pueden optar por completar una encuesta. Adicionalmente, ZoomZoom envía correos electrónicos promocionales a sus clientes, registrando las fechas de envío, apertura, clics y el contenido del mensaje.

  Ahora, introduce la consulta siguiente en el terminal:

In [4]:
# 1. Establecer una conexión con la base de datos
conn = sqlite3.connect('sqlda.sql')

# 2. Iniciar un cursor para interactuar con la base de datos
cur = conn.cursor()

# 3. Realizar una consulta para obtener los primeros nombres
# de los clientes en Arizona (AZ)
cur.execute('''
  SELECT first_name
  FROM customers
  WHERE state='AZ'
ORDER BY first_name LIMIT 2;''')

# 4. Mostrar los resultados obtenidos de la consulta
for row in cur:
  print(row)

# 5. Cerrar la conexión con la base de datos
conn.close()

('Abba',)
('Abbey',)

 El resultado de este SQL aparece debajo del editor de consultas.

La consulta SQL que acabas de ejecutar en este ejercicio es una sentencia SELECT.


## Declaración SELECT
En una base de datos relacional, las operaciones CRUD se ejecutan mediante declaraciones SQL. Una declaración SQL es un comando que utiliza ciertas palabras clave de SQL y sigue ciertos estándares para especificar qué resultado esperas de la base de datos relacional. En el Ejercicio 2.01, Ejecutando tu primera consulta SELECT, viste un ejemplo de declaración SQL SELECT. SELECT es probablemente la declaración SQL más común; recupera datos de una base de datos. Esta operación se realiza casi exclusivamente usando la palabra clave SELECT.

La consulta SELECT más básica sigue este patrón:

```
# SELECT...FROM <nombre_tabla>;
```
Esta consulta es una forma de extraer datos de una única tabla. En su forma más simple, si quieres extraer todos los datos de la tabla de productos en la base de datos de muestra, simplemente usa esta consulta:

In [20]:
from tabulate import tabulate

conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

# 3. Realizar una consulta para obtener los primeros nombres
# de los clientes en Arizona (AZ)
cur.execute('SELECT * FROM products;')

# Fetch column names
headers = [column[0] for column in cur.description]

# Print in table format using tabulate
# print(tabulate(cur, headers=headers, tablefmt="grid"))
print(tabulate(cur,  headers=headers))

conn.close()

  product_id  model                    year  product_type      base_msrp  production_start_date    production_end_date
------------  ---------------------  ------  --------------  -----------  -----------------------  ---------------------
           1  Lemon                    2013  scooter              399.99  2012-10-28 00:00:00      2015-02-03 00:00:00
           2  Lemon Limited Edition    2014  scooter              799.99  2013-08-30 00:00:00      2013-11-24 00:00:00
           3  Lemon                    2016  scooter              499.99  2015-12-27 00:00:00      2021-08-24 00:00:00
           4  Model Chi                2017  automobile        115000     2017-02-17 00:00:00      2021-08-24 00:00:00
           5  Blade                    2017  scooter              699.99  2017-02-17 00:00:00      2017-09-23 00:00:00
           6  Model Sigma              2018  automobile         65500     2017-12-10 00:00:00      2021-05-28 00:00:00
           7  Bat                      2019  scooter              599.99  2019-06-07 00:00:00      \N
           8  Bat Limited Edition      2020  scooter              699.99  2019-10-13 00:00:00      \N
           9  Model Epsilon            2020  automobile         35000     2019-10-13 00:00:00      \N
          10  Model Gamma              2020  automobile         85750     2019-10-13 00:00:00      \N
          11  Model Chi                2022  automobile         95000     2021-10-01 00:00:00      \N
          12  Lemon Zester             2022  scooter              349.99  2021-10-01 00:00:00      \N


Esta consulta extraerá todos los datos de una base de datos. La salida será:


<figure>
<center><img src='https://github.com/limspiga/data-modeling/blob/main/images/4e5bfa84-8e92-4d9d-99ed-35217e5e84d9.png?raw=true' width="600" />
<figcaption>Figure 2.7: Simple SELECT statement</figcaption></center>
</figure>

Es importante entender la sintaxis de la consulta SELECT con un poco más de detalle.

Nota

En las declaraciones presentadas en esta sección, las palabras clave de SQL, como SELECT y FROM, están en letras mayúsculas, mientras que los nombres de tablas y columnas se muestran en minúsculas. Aunque SQL no diferencia entre mayúsculas y minúsculas en sus declaraciones y palabras clave, es recomendable seguir ciertas convenciones de formato y estructura al escribir. Esto facilita la comprensión de la estructura y finalidad de la declaración.

Dentro de la cláusula SELECT, el símbolo * sirve como abreviatura para seleccionar todas las columnas de una base de datos. Se utiliza el punto y coma (;) al final de la consulta para señalar su conclusión, similar a cómo un punto finaliza una oración. Si deseas seleccionar columnas específicas en una consulta, simplemente sustituye el asterisco (*) por los nombres de las columnas deseadas en el orden en que prefieras que se muestren. Por ejemplo, para mostrar las columnas product_id y model de la tabla products, la consulta sería:

In [21]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('SELECT product_id, model FROM products;')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

  product_id  model
------------  ---------------------
           1  Lemon
           2  Lemon Limited Edition
           3  Lemon
           4  Model Chi
           5  Blade
           6  Model Sigma
           7  Bat
           8  Bat Limited Edition
           9  Model Epsilon
          10  Model Gamma
          11  Model Chi
          12  Lemon Zester

La respuesta se mostrará de la siguiente manera:

<figure>
<center><img src='https://github.com/limspiga/data-modeling/blob/main/images/71d622a3-2af1-4f0d-9e59-345e9fb5866b.png?raw=true' width="200" />
<figcaption>Figure 2.7: Simple SELECT statement</figcaption></center>
</figure>

Figura 2.8: Sentencia SELECT con nombres de columnas
Para mostrar primero la columna model y luego la columna product_id, escribirías lo siguiente:

In [23]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('SELECT model, product_id FROM products;')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

model                    product_id
---------------------  ------------
Lemon                             1
Lemon Limited Edition             2
Lemon                             3
Model Chi                         4
Blade                             5
Model Sigma                       6
Bat                               7
Bat Limited Edition               8
Model Epsilon                     9
Model Gamma                      10
Model Chi                        11
Lemon Zester                     12


La respuesta se mostrará de la siguiente manera:

<figure>
<center><img src='https://github.com/limspiga/data-modeling/blob/main/images/2914d3b5-fc04-480f-8b1d-15df7d13e0da.png?raw=true' width="200" />
<figcaption>Figura 2.9: Comparación entre las sentencias SELECT con nombres de columnas de las Figuras 2.8 y 2.9.</figcaption></center>
</figure>

Es esencial entender que, a pesar de que las columnas se muestran en el orden establecido en la consulta `SELECT`, las filas se presentarán de manera no secuencial.

Una consulta SELECT se estructura en cinco segmentos:
1. **Operación**: Se refiere a lo que se mostrará. Por ejemplo, el término SELECT seguido de los nombres de las columnas o funciones.
2. **Datos**: Representado por la palabra clave `FROM`, seguida de las tablas relacionadas, especifica qué información será considerada para acciones como filtrado y cálculos.
3. **Condición**: Es el segmento que limita los datos, mostrando únicamente aquellos registros que cumplan con ciertas condiciones, generalmente marcadas con `WHERE`.
4. **Agrupación**: Envolucra la reunión de registros basándose en criterios determinados por una cláusula `GROUP BY`, generando salidas basadas en valores similares. Profundizarás en este aspecto en el Capítulo 4, Funciones Agregadas para el Análisis de Datos.
5. **Postprocesamiento**: Es el proceso final que ajusta y organiza los resultados, comúnmente usando términos como `ORDER BY` y `LIMIT`.

Como ilustración, toma en cuenta la declaración que realizaste en el Ejercicio 2.01, donde quisieras obtener el nombre principal de todos los clientes en Arizona, listados alfabéticamente. La consulta `SELECT` para este propósito sería:

In [25]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
  SELECT first_name
  FROM customers
  WHERE state='AZ'
  ORDER BY first_name LIMIT 10;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

first_name
------------
Abba
Abbey
Abra
Abrahan
Adams
Adham
Adora
Adore
Adrianna
Agnese

Los resultados iniciales se visualizan de la siguiente manera:

<figure>
<center><img src='https://github.com/limspiga/data-modeling/blob/main/images/640a3027-ff64-4cc0-b1f7-0c2764ba4a97.png?raw=true' width="100" />
<figcaption>Figure 2.10: Sample SELECT statement.</figcaption></center>
</figure>

## La Cláusula WHERE

La cláusula WHERE es una lógica condicional que limita la cantidad de datos devueltos. Puedes usar la cláusula WHERE para especificar condiciones basadas en las cuales la declaración SELECT recuperará filas específicas. En una declaración SELECT, generalmente encontrarás esta cláusula colocada después de la cláusula FROM.

La condición en la cláusula WHERE generalmente es una declaración booleana que puede ser verdadera o falsa para cada fila. En el caso de las columnas numéricas, estas declaraciones booleanas pueden usar operadores como igual (=), mayor que (>), o menor que (<) para comparar las columnas contra un valor.

Por ejemplo, supongamos que quieres ver los nombres de los modelos de los productos con el año modelo 2014 del conjunto de datos de muestra. Escribirías la siguiente consulta:

La salida de este SQL es:

In [26]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
  SELECT model
  FROM products
  WHERE year=2014 LIMIT 10;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

model
---------------------
Lemon Limited Edition

Figura 2.11: Cláusula WHERE simple

Mediante la cláusula WHERE, has logrado filtrar los productos según un criterio específico. Si estás interesado en productos anteriores al año 2014, simplemente ajusta la cláusula `WHERE a year < 2014`. Ahora, si deseas aplicar varios criterios simultáneamente o seleccionar filas que cumplan alguna de varias condiciones, puedes incorporar las cláusulas AND u OR en tus consultas.

### La Cláusula AND/OR

La consulta previa, representada en la Figura 2.11, se basó en una única condición. No obstante, en ocasiones, podrías querer satisfacer múltiples criterios simultáneamente. Para lograrlo, puedes integrar distintas condiciones utilizando las cláusulas AND y OR. Mientras que AND selecciona las filas que cumplen con todas las condiciones establecidas, OR recoge aquellas que satisfacen al menos una de las condiciones especificadas.

Por ejemplo, si quieres obtener modelos que no solo fueron fabricados en 2014, sino que también tienen un Precio Sugerido por el Fabricante (MSRP) de menos de $1,000, puedes escribir la siguiente consulta:

In [27]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
  SELECT model, year, base_msrp
FROM products
WHERE year=2014
AND base_msrp<=1000;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

model                    year    base_msrp
---------------------  ------  -----------
Lemon Limited Edition    2014       799.99


El resultado se verá así:
Figura 2.12: Cláusula WHERE con operador AND

Aquí, puedes ver que el año del producto es 2014 y el base_msrp es menor a $1,000. Esto es exactamente lo que estás buscando.

Supongamos que quieres obtener cualquier modelo que se lanzó en el año 2014 o que tenía un tipo de producto como automóvil. Escribirías la siguiente consulta:

In [28]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT Model, product_type
FROM products
WHERE year=2014
OR product_type='automobile';''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

model                  product_type
---------------------  --------------
Lemon Limited Edition  scooter
Model Chi              automobile
Model Sigma            automobile
Model Epsilon          automobile
Model Gamma            automobile
Model Chi              automobile





El resultado es el siguiente:
Figura 2.13: Cláusula WHERE con operador OR

Ya sabes que hay un producto, Lemon Limited Edition, del año 2014. El resto de los productos en el ejemplo están listados con "automobile" como product_type. Estás viendo el conjunto de datos combinado de year=2014 junto con product_type='automobile'. Eso es exactamente lo que hace el operador OR.

Al usar más de una condición AND u OR, es posible que necesites usar paréntesis para separar y posicionar las piezas de lógica juntas. Esto garantizará que tu consulta funcione como se espera y sea lo más legible posible. Por ejemplo, si quisieras obtener todos los productos con modelos entre los años 2016 y 2018, así como cualquier producto que sean scooters, podrías escribir lo siguiente:

In [29]:


conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT *
FROM products
WHERE year > 2016
AND year < 2018
OR product_type='scooter';''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

  product_id  model                    year  product_type      base_msrp  production_start_date    production_end_date
------------  ---------------------  ------  --------------  -----------  -----------------------  ---------------------
           1  Lemon                    2013  scooter              399.99  2012-10-28 00:00:00      2015-02-03 00:00:00
           2  Lemon Limited Edition    2014  scooter              799.99  2013-08-30 00:00:00      2013-11-24 00:00:00
           3  Lemon                    2016  scooter              499.99  2015-12-27 00:00:00      2021-08-24 00:00:00
           4  Model Chi                2017  automobile        115000     2017-02-17 00:00:00      2021-08-24 00:00:00
           5  Blade                    2017  scooter              699.99  2017-02-17 00:00:00      2017-09-23 00:00:00
           7  Bat                      2019  scooter              599.99  2019-06-07 00:00:00      \N
           8  Bat Limited Edition      2020  scooter              699.99  2019-10-13 00:00:00      \N
          12  Lemon Zester             2022  scooter              349.99  2021-10-01 00:00:00      \N


El resultado contiene todos los scooters, así como un automóvil que tiene un año entre 2016 y 2018.
Figura 2.14: Cláusula WHERE con múltiples operadores AND/OR

Sin embargo, para aclarar la cláusula WHERE, sería preferible escribir lo siguiente:

In [31]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''SELECT *
FROM products
WHERE (year>2016 AND year<2018)
OR product_type='scooter';''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

  product_id  model                    year  product_type      base_msrp  production_start_date    production_end_date
------------  ---------------------  ------  --------------  -----------  -----------------------  ---------------------
           1  Lemon                    2013  scooter              399.99  2012-10-28 00:00:00      2015-02-03 00:00:00
           2  Lemon Limited Edition    2014  scooter              799.99  2013-08-30 00:00:00      2013-11-24 00:00:00
           3  Lemon                    2016  scooter              499.99  2015-12-27 00:00:00      2021-08-24 00:00:00
           4  Model Chi                2017  automobile        115000     2017-02-17 00:00:00      2021-08-24 00:00:00
           5  Blade                    2017  scooter              699.99  2017-02-17 00:00:00      2017-09-23 00:00:00
           7  Bat                      2019  scooter              599.99  2019-06-07 00:00:00      \N
           8  Bat Limited Edition      2020  scooter              699.99  2019-10-13 00:00:00      \N
          12  Lemon Zester             2022  scooter              349.99  2021-10-01 00:00:00      \N

Recibirás el mismo resultado que antes. La lógica de este SQL es más fácil de entender. Descubrirás que las cláusulas AND y OR se utilizan con frecuencia en las consultas SQL. Sin embargo, en algunos escenarios, pueden resultar tediosas, especialmente cuando hay alternativas más eficientes para tales escenarios.

### La Cláusula IN/NOT IN
Ahora que puedes escribir consultas que coincidan con múltiples condiciones, también podrías querer refinar tus criterios recuperando filas que contienen (o no contienen) uno o más valores específicos en una o más de sus columnas. Aquí es donde las cláusulas IN y NOT IN resultan útiles.

Por ejemplo, estás interesado en devolver todos los modelos de los años 2014,
2016 o 2019. Podrías escribir una consulta como esta:

In [33]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''SELECT model, year
FROM products
WHERE year = 2014
OR year = 2016
OR year = 2019;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

model                    year
---------------------  ------
Lemon Limited Edition    2014
Lemon                    2016
Bat                      2019

El resultado se verá como la siguiente imagen, mostrando tres modelos de estos tres años:

Sin embargo, esto es tedioso de escribir. Usando IN, puedes escribir lo siguiente:

In [39]:
cur.execute('''SELECT model, year
FROM products
WHERE year IN (2014, 2016, 2019);''')

print(tabulate(cur,  headers=headers))

model                    year
---------------------  ------
Lemon Limited Edition    2014
Lemon                    2016
Bat                      2019


Esto es mucho más limpio y facilita la comprensión de lo que está sucediendo. También
devolverá el mismo resultado que arriba.
Por el contrario, también puedes usar la cláusula NOT IN para devolver todos los valores que no están en una lista de valores. Por ejemplo, si quisieras todos los productos que no fueron producidos en los años 2014, 2016 y 2019, podrías escribir lo siguiente:

In [40]:
cur.execute('''SELECT model, year
FROM products
WHERE year = 2014
OR year = 2016
OR year = 2019;''')

print(tabulate(cur,  headers=headers))
conn.close()

model                    year
---------------------  ------
Lemon Limited Edition    2014
Lemon                    2016
Bat                      2019


Ahora ves los productos que están en años diferentes a los tres mencionados en la declaración SQL.

En la siguiente sección, aprenderás cómo usar la cláusula ORDER BY en tus consultas.

### Cláusula ORDER BY
En ausencia de instrucciones específicas, las consultas SQL organizarán las filas según el orden en que las encuentre la base de datos. Aunque este comportamiento predeterminado puede ser adecuado en muchos escenarios, en ocasiones es necesario establecer un orden específico.
Por ejemplo, si deseas visualizar todos los productos ordenados por la fecha de su primera producción, desde el más antiguo al más reciente, puedes lograrlo en SQL utilizando la cláusula ORDER BY de la siguiente forma:

In [41]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''SELECT model, production_start_date
FROM products
ORDER BY production_start_date;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))


# Como se muestra en la captura de pantalla a continuación,
# los productos están ordenados por el campo production_start_date.

model                  production_start_date
---------------------  -----------------------
Lemon                  2012-10-28 00:00:00
Lemon Limited Edition  2013-08-30 00:00:00
Lemon                  2015-12-27 00:00:00
Model Chi              2017-02-17 00:00:00
Blade                  2017-02-17 00:00:00
Model Sigma            2017-12-10 00:00:00
Bat                    2019-06-07 00:00:00
Bat Limited Edition    2019-10-13 00:00:00
Model Epsilon          2019-10-13 00:00:00
Model Gamma            2019-10-13 00:00:00
Model Chi              2021-10-01 00:00:00
Lemon Zester           2021-10-01 00:00:00


Figura 2.17: Sentencia SELECT con ORDER BY

Si no se menciona explícitamente una secuencia de orden, las filas se devolverán en orden ascendente. Orden ascendente simplemente significa que las filas estarán ordenadas desde el valor más pequeño hasta el valor más alto de la columna o columnas elegidas. En el caso de cosas como el texto, esto significa ordenar en orden alfabético. Puedes hacer el orden ascendente explícito usando la palabra clave ASC. Para la última consulta, esto se podría lograr escribiendo lo siguiente:

In [53]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()
cur.execute('''SELECT model
FROM products
ORDER BY production_start_date ASC;''')

print(tabulate(cur,  headers=headers))
conn.close()

model
---------------------
Lemon
Lemon Limited Edition
Lemon
Model Chi
Blade
Model Sigma
Bat
Bat Limited Edition
Model Epsilon
Model Gamma
Model Chi
Lemon Zester

Este SQL devolverá el mismo resultado en el mismo orden que el SQL anterior.

Si quieres extraer datos en orden descendente, puedes usar la palabra clave `DESC`. Si quisieras buscar modelos fabricados ordenados de más nuevos a más antiguos, escribirías la siguiente consulta:

El resultado estará ordenado en orden descendente de `production_start_date`, el más reciente primero.

In [54]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()
cur.execute('''SELECT model, production_start_date
FROM products
ORDER BY production_start_date DESC;''')

print(tabulate(cur,  headers=headers))
conn.close()

model                  production_start_date
---------------------  -----------------------
Model Chi              2021-10-01 00:00:00
Lemon Zester           2021-10-01 00:00:00
Bat Limited Edition    2019-10-13 00:00:00
Model Epsilon          2019-10-13 00:00:00
Model Gamma            2019-10-13 00:00:00
Bat                    2019-06-07 00:00:00
Model Sigma            2017-12-10 00:00:00
Model Chi              2017-02-17 00:00:00
Blade                  2017-02-17 00:00:00
Lemon                  2015-12-27 00:00:00
Lemon Limited Edition  2013-08-30 00:00:00
Lemon                  2012-10-28 00:00:00


Además, en lugar de escribir el nombre de la columna por la que quieres ordenar, puedes referirte al número de posición de esa columna en la cláusula SELECT de la consulta. Por ejemplo, si quisieras devolver todos los modelos en la tabla de productos ordenados por ID de producto, podrías escribir lo siguiente:

In [55]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()
cur.execute('''SELECT product_id, model
FROM products
ORDER BY product_id;''')

print(tabulate(cur,  headers=headers))
conn.close()

  model  production_start_date
-------  -----------------------
      1  Lemon
      2  Lemon Limited Edition
      3  Lemon
      4  Model Chi
      5  Blade
      6  Model Sigma
      7  Bat
      8  Bat Limited Edition
      9  Model Epsilon
     10  Model Gamma
     11  Model Chi
     12  Lemon Zester

Este SQL devolverá el mismo resultado que la Figura 2.19.

Finalmente, puedes ordenar por múltiples columnas agregando columnas adicionales después de ORDER BY, separadas con comas. Por ejemplo, quieres ordenar todas las filas en la tabla primero por el año del modelo de más nuevo a más antiguo, y luego por el MSRP de menor a mayor. Entonces escribirías la siguiente consulta:

In [61]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
  SELECT *
FROM products
ORDER BY year DESC, base_msrp ASC;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

  product_id  model                    year  product_type      base_msrp  production_start_date    production_end_date
------------  ---------------------  ------  --------------  -----------  -----------------------  ---------------------
          12  Lemon Zester             2022  scooter              349.99  2021-10-01 00:00:00      \N
          11  Model Chi                2022  automobile         95000     2021-10-01 00:00:00      \N
           8  Bat Limited Edition      2020  scooter              699.99  2019-10-13 00:00:00      \N
           9  Model Epsilon            2020  automobile         35000     2019-10-13 00:00:00      \N
          10  Model Gamma              2020  automobile         85750     2019-10-13 00:00:00      \N
           7  Bat                      2019  scooter              599.99  2019-06-07 00:00:00      \N
           6  Model Sigma              2018  automobile         65500     2017-12-10 00:00:00      2021-05-28 00:00:00
           5  Blade                    2017  scooter              699.99  2017-02-17 00:00:00      2017-09-23 00:00:00
           4  Model Chi                2017  automobile        115000     2017-02-17 00:00:00      2021-08-24 00:00:00
           3  Lemon                    2016  scooter              499.99  2015-12-27 00:00:00      2021-08-24 00:00:00
           2  Lemon Limited Edition    2014  scooter              799.99  2013-08-30 00:00:00      2013-11-24 00:00:00
           1  Lemon                    2013  scooter              399.99  2012-10-28 00:00:00      2015-02-03 00:00:00


Lo siguiente es la salida del código anterior:
Figura 2.20: Ordenando múltiples columnas usando ORDER BY
En la siguiente sección, aprenderás sobre la palabra clave LIMIT en SQL.

### La Cláusula LIMIT
La mayoría de las tablas en las bases de datos SQL tienden a ser considerablemente grandes, por lo que devolver cada fila individualmente resulta innecesario. En ocasiones, es posible que solo estés interesado en las primeras filas. Para manejar esta situación, entra en juego la palabra clave LIMIT. Supongamos que solo deseas obtener los modelos de los primeros cinco productos que la compañía produjo. Podrías lograrlo utilizando la siguiente consulta:

In [62]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT model
FROM products
ORDER BY production_start_date
LIMIT 5;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

model
---------------------
Lemon
Lemon Limited Edition
Lemon
Model Chi
Blade

Cuando no estás familiarizado con una tabla o consulta, es una preocupación común que al ejecutar una sentencia SELECT accidentalmente se devuelvan muchas filas, lo que puede consumir mucho tiempo y ancho de banda de la máquina. Como precaución habitual, deberías usar la palabra clave LIMIT para recuperar solo un pequeño número de filas cuando ejecutes la consulta por primera vez.

### Cláusula IS NULL/IS NOT NULL
Frecuentemente, algunas entradas en una columna pueden estar ausentes debido a diversas razones. Quizás los datos no fueron recopilados o no estaban disponibles en el momento de la recopilación. Esta falta de un valor puede reflejar un estado particular en la fila y proporcionar información valiosa.

Independientemente de la causa, a menudo surge el interés por identificar las filas donde los datos no están completos para un valor específico.
- En SQL, los valores en blanco a menudo se representan mediante el término NULL.

Por ejemplo, en la tabla de productos, cuando la columna "production_end_date" tiene un valor NULL, esto indica que el producto aún está en proceso de fabricación. En esta situación, para listar todos los productos que todavía están siendo fabricados, puedes emplear la siguiente consulta:

In [63]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT *
FROM products
WHERE production_end_date IS NULL;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

product_id    model    year    product_type    base_msrp    production_start_date    production_end_date
------------  -------  ------  --------------  -----------  -----------------------  ---------------------

Lo siguiente es el resultado de la consulta:
Figura 2.22: Productos con production_end_date NULL
Si solo te interesan los productos que ya no se están fabricando, puedes usar la cláusula IS NOT NULL, como se muestra en la siguiente consulta:
Lo siguiente es el resultado del código:

In [64]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT *
FROM products
WHERE production_end_date IS NOT NULL;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

  product_id  model                    year  product_type      base_msrp  production_start_date    production_end_date
------------  ---------------------  ------  --------------  -----------  -----------------------  ---------------------
           1  Lemon                    2013  scooter              399.99  2012-10-28 00:00:00      2015-02-03 00:00:00
           2  Lemon Limited Edition    2014  scooter              799.99  2013-08-30 00:00:00      2013-11-24 00:00:00
           3  Lemon                    2016  scooter              499.99  2015-12-27 00:00:00      2021-08-24 00:00:00
           4  Model Chi                2017  automobile        115000     2017-02-17 00:00:00      2021-08-24 00:00:00
           5  Blade                    2017  scooter              699.99  2017-02-17 00:00:00      2017-09-23 00:00:00
           6  Model Sigma              2018  automobile         65500     2017-12-10 00:00:00      2021-05-28 00:00:00
           7  Bat                      2019  scooter              599.99  2019-06-07 00:00:00      \N
           8  Bat Limited Edition      2020  scooter              699.99  2019-10-13 00:00:00      \N
           9  Model Epsilon            2020  automobile         35000     2019-10-13 00:00:00      \N
          10  Model Gamma              2020  automobile         85750     2019-10-13 00:00:00      \N
          11  Model Chi                2022  automobile         95000     2021-10-01 00:00:00      \N
          12  Lemon Zester             2022  scooter              349.99  2021-10-01 00:00:00      \N


Figura 2.23: Productos con production_end_date no NULL
  
Ahora aprenderás cómo usar estas nuevas palabras clave en el ejercicio siguiente.

### Ejercicio 2.02: Consultando la tabla de vendedores usando palabras clave básicas en una consulta SELECT

Instrucciones

En este ejercicio, crearás varias consultas utilizando palabras clave básicas en una consulta `SELECT`.

Imagina que después de unos días en tu nuevo trabajo, finalmente obtienes acceso a la base de datos de la empresa. Tu jefe te ha pedido que ayudes a un gerente de ventas que no está muy familiarizado con SQL. El gerente de ventas necesita obtener diferentes listas de vendedores.

1. Generar una lista de los primeros 10 vendedores contratados por el concesionario 17, es decir, los vendedores con la fecha de contratación más antigua, ordenados por fecha de contratación, empezando por los más antiguos.
2. Obtener a todos los vendedores contratados en 2021 y 2022, que no han sido dados de baja. Esto implica que la fecha de contratación debe ser posterior al 01-01-2021 y la fecha de terminación debe ser NULL. Ordenar los resultados por fecha de contratación, comenzando por los más recientes.
3. Ayudar al gerente a encontrar un vendedor contratado en 2021, recordando que su primer nombre comienza con "Nic".

Utilizarás tus habilidades en SQL para ayudar al gerente a lograr estos objetivos.

Realiza los siguientes pasos para completar el ejercicio:

1. Examina el esquema de la tabla de vendedores desde la lista desplegable de esquemas. Familiarízate con los nombres de las columnas en la siguiente figura.

In [69]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

# Obtener información sobre la estructura de la tabla
cur.execute(f"PRAGMA table_info(salespeople)")
info_tabla = cur.fetchall()

headers = [column[0] for column in cur.description]
print(tabulate(info_tabla,  headers=headers))
conn.close()

  cid  name              type        notnull  dflt_value      pk
-----  ----------------  --------  ---------  ------------  ----
    0  salesperson_id    INTEGER           0                   1
    1  dealership_id     INTEGER           0                   0
    2  title             TEXT              0                   0
    3  first_name        TEXT              0                   0
    4  last_name         TEXT              0                   0
    5  suffix            TEXT              0                   0
    6  username          TEXT              0                   0
    7  gender            TEXT              0                   0
    8  hire_date         DATETIME          0                   0
    9  termination_date  DATETIME          0                   0

2. Ejecuta la siguiente consulta para obtener los nombres de usuario de los vendedores del concesionario con ID 17, ordenados por sus valores de fecha de contratación, y luego establece LIMIT en 10:

In [87]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT *
FROM salespeople
WHERE dealership_id = 17
ORDER BY hire_date
LIMIT 10;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

  salesperson_id    dealership_id  title    first_name    last_name    suffix    username        gender    hire_date            termination_date
----------------  ---------------  -------  ------------  -----------  --------  --------------  --------  -------------------  ------------------
              52               17           Bobbi         McKeon                 bmckeon1f       Female    2017-12-08 00:00:00
              88               17           Eldin         Addenbrooke            eaddenbrooke2f  Male      2018-03-03 00:00:00
             189               17           Abby          Drewery                adrewery58      Male      2018-04-28 00:00:00
             249               17           Tristan       Ainge                  tainge6w        Male      2018-08-11 00:00:00
             187               17           Tyson         Kerford                tkerford56      Male      2018-12-23 00:00:00
              86               17           Willie        Gullen                 wgullen2d       Male      2019-03-13 00:00:00
               3               17           Ethyl         Sloss        IV        esloss2         Female    2019-04-07 00:00:00
             150               17           Jermaine      Bamell                 jbamell45       Female    2019-11-14 00:00:00
               1               17           Electra       Elleyne                eelleyne0       Female    2020-01-26 00:00:00
              84               17  Ms       Klemens       Schneidau    II        kschneidau2b    Male      2020-01-27 00:00:00

Ahora tienes la lista de los primeros 10 vendedores contratados por el concesionario 17, es decir, los vendedores con la fecha de contratación más antigua, ordenados por fecha de contratación, empezando por los más antiguos.

3. Ahora, para encontrar a todos los vendedores que fueron contratados en 2021 y 2022 pero que no han sido despedidos, es decir, la fecha de contratación debe ser posterior al 2021-01-01 y la fecha de terminación es nula, ordenados por fecha de contratación, comenzando por los más recientes:

In [89]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT *
FROM salespeople
WHERE hire_date >= '2021-01-01 00:00:00'
AND termination_date is null
ORDER BY hire_date DESC;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

  salesperson_id    dealership_id  title    first_name    last_name     suffix    username        gender    hire_date            termination_date
----------------  ---------------  -------  ------------  ------------  --------  --------------  --------  -------------------  ------------------
             226               20           Moll          Kardos-Stowe            mkardosstowe69  Female    2021-10-20 00:00:00
              72               13           Neron         Hamly                   nhamly1z        Male      2021-10-17 00:00:00
             163                1           Lyda          Prine                   lprine4i        Female    2021-10-15 00:00:00
             254                2           Pincus        Cowp                    pcowp71         Male      2021-10-13 00:00:00
              39                1           Massimiliano  McSpirron               mmcspirron12    Male      2021-10-09 00:00:00
             259               11           Demetris      Gable                   dgable76        Male      2021-10-08 00:00:00
             243               17           Shandie       Allderidge              sallderidge6q   Female    2021-09-30 00:00:00
              92                1  Rev      Sandye        Duny                    sduny2j         Female    2021-08-30 00:00:00
               2                6           Montague      Alcoran                 malcoran1       Male      2021-08-27 00:00:00
              76               16           Pablo         Fleming                 pfleming23      Male      2021-08-26 00:00:00
             247                6           Kahlil        Senior                  ksenior6u       Male      2021-08-23 00:00:00
             117                9           Gisela        Spurling                gspurling38     Female    2021-08-21 00:00:00
              71                2           Georgianna    Bastian                 gbastian1y      Female    2021-08-19 00:00:00
              91                7           Napoleon      Heak                    nheak2i         Male      2021-08-18 00:00:00
              89               14           Letizia       Dober                   ldober2g        Female    2021-08-16 00:00:00
             166               14           Micah         Spalls                  mspalls4l       Male      2021-08-13 00:00:00
             228               17           Blakeley      Blaxill                 bblaxill6b      Female    2021-08-13 00:00:00
             285               20           Rog           Wardall                 rwardall7w      Male      2021-08-07 00:00:00
             122               16           Judie         Lages                   jlages3d        Female    2021-07-16 00:00:00
             205                9           Wilma         Millson                 wmillson5o      Female    2021-07-11 00:00:00
             132               10           Nikolai       Lomasney                nlomasney3n     Male      2021-07-07 00:00:00
              35               17           Agnella       Linke                   alinkey         Female    2021-06-19 00:00:00
             258                1           Dorie         Dosedale                ddosedale75     Male      2021-06-11 00:00:00
             138               10           Cathy         Rulf                    crulf3t         Female    2021-06-04 00:00:00
             162                1           Cristine      Gibbens                 cgibbens4h      Female    2021-06-03 00:00:00
             103                7           Pacorro       Howroyd                 phowroyd2u      Male      2021-05-30 00:00:00
             276               15           Corrine       Redmire                 credmire7n      Female    2021-05-30 00:00:00
              23                2           Beauregard    Peschke                 bpeschkem       Male      2021-05-09 00:00:00
             158               18           Collie        Donaway                 cdonaway4d      Female    2021-05-08 00:00:00
             172                3           Bink          Kemet                   bkemet4r        Male      2021-05-05 00:00:00
             130               15           Atlante       De Bernardis            adebernardis3l  Female    2021-04-27 00:00:00
              40               17           Bertrando     Slay                    bslay13         Male      2021-04-16 00:00:00
             213               12           Kimberlyn     Dayce                   kdayce5w        Female    2021-04-03 00:00:00
             194               17           Gillie        Constance               gconstance5d    Female    2021-04-02 00:00:00
             170                1           Giselbert     Schule                  gschule4p       Male      2021-03-28 00:00:00
             283               13           Thor          Sigmund                 tsigmund7u      Male      2021-03-27 00:00:00
              82               17           Giulietta     Schulke                 gschulke29      Female    2021-03-21 00:00:00
             279               19           Nicholle      Lisciandri              nlisciandri7q   Female    2021-03-10 00:00:00
             183                1           Eleen         McAndie                 emcandie52      Female    2021-03-04 00:00:00
             234                7           Christin      Wannes                  cwannes6h       Female    2021-03-01 00:00:00
             230               18           Carmine       Garrow                  cgarrow6d       Male      2021-02-28 00:00:00
              29               17           Elsi          Hamer                   ehamers         Female    2021-02-25 00:00:00
             192                6           Hope          Kidstoun                hkidstoun5b     Female    2021-02-23 00:00:00
             286               18           Katherina     Sambell                 ksambell7x      Female    2021-02-20 00:00:00
              51                5           Lanette       Gerriessen              lgerriessen1e   Female    2021-02-18 00:00:00
              95               18           Krissie       Wollacott               kwollacott2m    Female    2021-02-18 00:00:00
              73                3           Ives          Dooler                  idooler20       Male      2021-02-14 00:00:00
             262               13           Crissy        Robertazzi              crobertazzi79   Female    2021-02-11 00:00:00
             204               19           Sheppard      Oleksinski              soleksinski5n   Male      2021-02-07 00:00:00
              69               15           Clifford      Stoaks                  cstoaks1w       Male      2021-02-05 00:00:00
              96                7           Nonnah        Ahrens                  nahrens2n       Female    2021-01-20 00:00:00
               5               17           Cornall       Swanger                 cswanger4       Male      2021-01-11 00:00:00
               9               14           Lamar         Treleven                ltreleven8      Male      2021-01-02 00:00:00
             244               17           Clevey        Sainer                  csainer6r       Male      2021-01-02 00:00:00

Se devuelven 54 filas de esta consulta SQL. A continuación, se muestran las primeras filas de la salida:

Aquí tienes la traducción al español de tu solicitud:

Ahora, encuentra un vendedor que fue contratado en 2021 y cuyo primer nombre comienza con Nic.

In [92]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT *
FROM salespeople
WHERE first_name LIKE 'Nic%'
AND hire_date >= '2021-01-01'
AND hire_date <= '2021-12-31';''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

  salesperson_id    dealership_id  title    first_name    last_name    suffix    username       gender    hire_date            termination_date
----------------  ---------------  -------  ------------  -----------  --------  -------------  --------  -------------------  ------------------
             279               19           Nicholle      Lisciandri             nlisciandri7q  Female    2021-03-10 00:00:00

En este ejercicio, utilizaste varias palabras clave básicas en una consulta SELECT para ayudar al gerente de ventas a obtener una lista de vendedores que necesitaba.

### Actividad 2.01: Consultando la tabla de clientes usando palabras clave básicas en una consulta SELECT
El departamento de marketing ha decidido que quieren llevar a cabo una serie de campañas de marketing para promover una venta. Para hacerlo, necesitan los registros de comunicación por correo electrónico de los clientes de ZoomZoom en el estado de Florida, y los detalles de todos los clientes en la ciudad de Nueva York. También necesitan los números de teléfono de los clientes con órdenes específicas. Los siguientes son los pasos para completar la actividad:
1. Conéctate a la base de datos SQLDA.
2. Examina el esquema de la tabla de `customers` desde la lista desplegable del esquema. Familiarízate con las columnas de esta tabla.
3. Escribe una consulta que recupere todos los correos electrónicos de los clientes de ZoomZoom en el estado de Florida en orden alfabético.
4. Escribe una consulta que obtenga todos los nombres, apellidos y correos electrónicos de los clientes de ZoomZoom en la ciudad de Nueva York, en el estado de Nueva York. Deben ser ordenados alfabéticamente, con el apellido seguido del nombre.
5. Escribe una consulta que devuelva todos los clientes con un número de teléfono ordenados por la fecha en que el cliente fue agregado a la base de datos.

Solucion

1. Examina el esquema de la tabla de clientes desde la lista desplegable del esquema.

In [93]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

# Obtener información sobre la estructura de la tabla
cur.execute(f"PRAGMA table_info(customers)")
info_tabla = cur.fetchall()

headers = [column[0] for column in cur.description]
print(tabulate(info_tabla,  headers=headers))
conn.close()

  cid  name            type        notnull  dflt_value      pk
-----  --------------  --------  ---------  ------------  ----
    0  customer_id     INTEGER           0                   0
    1  title           TEXT              0                   0
    2  first_name      TEXT              0                   0
    3  last_name       TEXT              0                   0
    4  suffix          TEXT              0                   0
    5  email           TEXT              0                   0
    6  gender          TEXT              0                   0
    7  ip_address      TEXT              0                   0
    8  phone           TEXT              0                   0
    9  street_address  TEXT              0                   0
   10  city            TEXT              0                   0
   11  state           TEXT              0                   0
   12  postal_code     TEXT              0                   0
   13  latitude        REAL              0                   0
   14  longitude       REAL              0                   0
   15  date_added      DATETIME          0                   0

3. Ejecuta la siguiente consulta para obtener los correos electrónicos de los clientes en el estado de Florida en orden alfabético:

In [ ]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT email
FROM customers
WHERE state='FL'
ORDER BY email;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

3. Ejecuta la siguiente consulta para obtener todos los nombres, apellidos y direcciones de correo electrónico de los clientes de ZoomZoom en la ciudad de Nueva York, Nueva York. Los clientes deben ser ordenados alfabéticamente, con el apellido seguido del nombre:

In [ ]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT first_name, last_name, email
FROM customers
WHERE city='New York City' AND state='NY'
ORDER BY last_name, first_name;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

4. Ejecuta la siguiente consulta para obtener todos los clientes que tienen un número de teléfono, ordenados por la fecha en que el cliente fue agregado a la base de datos:

In [101]:
conn = sqlite3.connect('sqlda.sql')
cur = conn.cursor()

cur.execute('''
SELECT *
FROM customers
WHERE phone IS NOT NULL
ORDER BY date_added LIMIT 10;''')

# Fetch column names
headers = [column[0] for column in cur.description]
print(tabulate(cur,  headers=headers))

conn.close()

  customer_id  title    first_name    last_name    suffix    email                           gender    ip_address       phone         street_address          city           state      postal_code    latitude    longitude  date_added
-------------  -------  ------------  -----------  --------  ------------------------------  --------  ---------------  ------------  ----------------------  -------------  -------  -------------  ----------  -----------  -------------------
         2625           Binky         Dawtrey                bdawtrey20w@shareasale.com      M         15.75.236.78     804-990-4322  0353 Iowa Road          Richmond       VA               23208     37.5593     -77.4471  2012-11-09 00:00:00
         6173           Danila        Gristwood              dgristwood4rg@furl.net          F         254.239.58.108   832-157-3870  79865 Hagan Terrace     Katy           TX               77493     29.8678     -95.8298  2012-11-09 00:00:00
         7486           Ciro          Ferencowicz            cferencowicz5rx@ucoz.ru         M         8.151.167.184    786-458-8754  61 Village Crossing     Miami          FL               33111     25.5584     -80.4582  2012-11-09 00:00:00
        13390           Danika        Lough                  dloughabx@skype.com             F         188.19.7.207     212-769-6845  38463 Forest Dale Way   New York City  NY               10019     40.7651     -73.9858  2012-11-09 00:00:00
        17099           Pearla        Halksworth             phalksworthd6y@cyberchimps.com  F         114.138.82.24    541-198-6063  130 Marcy Crossing      Eugene         OR               97405     44.0185    -123.1     2012-11-09 00:00:00
        18685           Ingram        Crossman               icrossmanef0@weebly.com         M         207.145.1.202    503-352-8809  86 Michigan Junction    Salem          OR               97306     44.8685    -123.044   2012-11-09 00:00:00
        30046           Nanete        Hassur                 nhassurn6l@alibaba.com          F         232.115.170.92   209-364-5939  13961 Steensland Trail  Stockton       CA               95205     37.9625    -121.262   2012-11-09 00:00:00
        35683           Betteanne     Rulf                   brulfrj6@jalbum.net             F         52.208.248.90    503-396-8643  1 Cordelia Crossing     Salem          OR               97306     44.8685    -123.044   2012-11-09 00:00:00
         8571           Christina     Kenningham             ckenningham6m2@princeton.edu    F         245.162.246.123  615-646-6020  39223 Lunder Street     Memphis        TN               38119     35.0821     -89.8501  2012-11-10 00:00:00
        17626           Dav           Vanyard                dvanyarddll@taobao.com          M         88.119.149.125   706-947-1265  086 East Hill           Columbus       GA               31904     32.5161     -84.9785  2012-11-10 00:00:00