# 7. Análisis utilizando Tipos de Datos Complejos

In [2]:
# @title Postgress preloading (install server)
#The output of the installation is not displayed when %%capture is used at the start of the cell
%%capture
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"
# Setup a database with name `sampledb` to be used
# !sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS sampledb;'
# !sudo -u postgres psql -U postgres -c 'CREATE DATABASE sampledb;'

!curl https://raw.githubusercontent.com/limspiga/data-modeling/main/db/data.dump  -O
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE sqlda;'

# !sudo -u postgres psql -U postgres -d 'sqlda' -f 'data.dump'

# https://thivyapriyaa.medium.com/setting-up-postgresql-on-google-colab-4d02166939fc

In [3]:
# @title Postgress preloading
# import
!sudo -u postgres psql -d sqlda < data.dump
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sqlda
#To load the sql extention to start using %%sql
%load_ext sql

SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
CREATE EXTENSION
COMMENT
CREATE EXTENSION
COMMENT
CREATE TEXT SEARCH DICTIONARY
ALTER TEXT SEARCH DICTIONARY
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE MATERIALIZED VIEW
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE MATERIALIZED VIEW
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 44533
COPY 0
COPY 50000
COPY 32
COPY 50000
COPY 20
COPY 418158
COPY 12
COPY 15412
COPY 37711
COPY 300
COPY 20
ALTER TABLE
ALTER TABLE
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
REFRESH MATERIALIZED VIEW
REFRESH MATERIALIZED VIEW
env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sqlda

# Introducción
En este curso, has aprendido mucho sobre el poder de procesamiento de SQL en números y cadenas de caracteres. La mayoría de las tareas de análisis de datos consisten, de hecho, en analizar números y cadenas de caracteres. Sin embargo, en el mundo real, los datos a menudo se encuentran en otros formatos, como palabras, ubicaciones, fechas y, a veces, estructuras de datos complejas. Estos datos, aunque se presenten como números y cadenas de caracteres, tienen su propio dominio de operación y cálculo en lugar de la simple aritmética. Por ejemplo, sumar un día a enero 31, 2022, dará como resultado febrero 1, 2022, no enero 32, 2022.
En este capítulo, examinarás estos tipos de datos y verás cómo puedes utilizar estos datos en tu análisis:

- Fecha y hora
- Geoespacial
- JSON
- ARRAY
- Texto

Al final del capítulo, habrás ampliado tus capacidades de análisis para que puedas aprovechar prácticamente cualquier tipo de dato disponible para ti.

# Tipos de Datos de Fecha y Hora para Análisis
Puede que estés familiarizado con las fechas y las horas, pero ¿sabes cómo se representan estas medidas cuantitativas? Se representan usando números, pero no un solo número. En su lugar, se miden con un conjunto de números, con un número para cada año, mes, día, hora, minuto, segundo y milisegundo.

Esta es una representación compleja, que comprende varios componentes diferentes. Por ejemplo, conocer el minuto actual sin saber la hora actual no sirve de nada. Además, hay formas complejas de interactuar con las fechas y las horas; por ejemplo, se pueden restar diferentes puntos en el tiempo entre sí. La hora actual puede representarse de manera diferente dependiendo de dónde te encuentres en el mundo.

Como resultado de estas intrincadas, necesitas tener especial cuidado al trabajar con este tipo de datos. De hecho, PostgreSQL, como la mayoría de las bases de datos, ofrece tipos de datos especiales que pueden representar estos tipos de valores. Comenzarás examinando el tipo DATE.

## El tipo de dato DATE
Las fechas pueden ser fácilmente representadas usando cadenas o números (por ejemplo, tanto el 1 de enero de 2022 como el 01/01/2022 representan claramente una fecha específica), pero las fechas son una forma especial de datos ya que representan un valor cuantitativo que no siempre sigue la simple secuencia numérica. Agregar 1 semana a la fecha actual significa agregar 7 días, por ejemplo. Una fecha dada tiene diferentes propiedades que podrías querer usar en tu análisis, por ejemplo, el año o el día de la semana que la fecha representa. Trabajar con fechas también es necesario para el análisis de series temporales, que es uno de los tipos de análisis más comunes que surgen. El estándar SQL incluye el tipo de dato DATE, y PostgreSQL ofrece una gran funcionalidad para interactuar con este tipo de dato.

La preocupación más común sobre el tipo de dato `DATE` es el formato de visualización.
Diferentes regiones utilizan diferentes formatos para representar la misma fecha.

- Por ejemplo, la fecha 14 de enero de 2022 se escribe como 01/14/2022 en algunos países pero 14/01/2022 en otros. Puedes configurar tu base de datos para mostrar las fechas en el formato que te sea más familiar. PostgreSQL utiliza el parámetro `DateStyle` para configurar estas opciones. Para ver tu configuración actual, puedes usar el siguiente comando:

In [ ]:
 %%sql
 SHOW DateStyle;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[('ISO, MDY',)]

La primera salida especifica el formato de salida de la Organización Internacional de Normalización (ISO), que muestra la fecha como Mes-Día-Año, y el segundo parámetro de salida especifica el orden para la entrada o salida. En este caso, dado que tanto el servidor como el cliente están utilizando una configuración regional de Estados Unidos, se utiliza el estilo de visualización Mes/Día/Año. Si tu servidor o cliente PostgreSQL está instalado en un sistema operativo con una configuración regional del sistema diferente a la mencionada aquí, el resultado del comando anterior puede ser diferente. Por ejemplo, si quisieras configurarlo al formato europeo de Día, Mes, Año, configurarías DateStyle a 'GERMAN, DMY'. Puedes configurar la salida para tu base de datos utilizando el siguiente comando:

In [ ]:
%%sql
-- SET DateStyle='GERMAN, DMY';
SET DateStyle = 'ISO, MDY';

 * postgresql://postgres:***@localhost:5432/sqlda
Done.

[]

Para este capítulo, utilizarás el formato de visualización ISO (Año-Mes-Día) y el formato de entrada Mes/Día/Año. Puedes configurar este formato utilizando el comando anterior.
Ahora, comienza probando el formato DATE:

In [ ]:
%sql SELECT '02-01-23'::DATE;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.date(2023, 2, 1),)]

In [ ]:
%sql SELECT TO_DATE('1/1/2022', 'D/M/YYYY');

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.date(2022, 1, 1),)]

El tipo de dato DATE es útil. La extensión natural de este es el tipo de dato que representa la hora, como las 10 a.m. o las 2 p.m., en un día. Lo interesante es que cuando las personas hablan sobre la hora, usualmente se refieren a la combinación de un día y una hora. Simplemente referirse a una hora no es suficiente para determinar el momento exacto en que algo sucede. Por ejemplo, "la clase comienza a las 6 p.m." muy probablemente implica que la clase comienza a las 6 p.m. todos los lunes de este semestre. Para evitar cualquier confusión, el estándar SQL ofrece el tipo de dato TIMESTAMP, que representa una fecha y una hora, hasta un microsegundo, por ejemplo, 2022-06-05 13:47:44.472096.

Puedes ver la marca de tiempo actual usando la función NOW(), y puedes especificar tu zona horaria usando AT TIME ZONE '<zona horaria>'. Aquí hay un ejemplo de la función NOW() con la zona horaria del Este especificada:

In [ ]:
%sql SELECT NOW() AT TIME ZONE 'EST';

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.datetime(2023, 9, 26, 10, 7, 3, 634624),)]

También puedes usar el tipo de dato TIMESTAMP sin especificar la zona horaria. Puedes obtener la zona horaria actual con la función NOW():

In [ ]:
%sql SELECT NOW();

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.datetime(2023, 9, 26, 15, 7, 5, 841742, tzinfo=datetime.timezone.utc),)]

# Transformando Tipos de Datos de Fecha
A menudo, querrás descomponer tus fechas en sus partes componentes. Por ejemplo, aunque las ventas diarias son importantes, también podrías estar interesado en el resumen de cada año y mes, para que puedas revisar la tendencia mensual de tus ventas. Puedes ver a partir de esta tendencia cuál mes es el que tiene las mejores ventas, para que puedas preparar tu inventario con anticipación. Para hacer esto, puedes usar EXTRACT(componente FROM fecha). Aquí hay un ejemplo:

In [ ]:
%%sql
SELECT
  current_date,
  EXTRACT(year FROM current_date) AS year,
  EXTRACT(month FROM current_date) AS month,
  EXTRACT(day FROM current_date) AS day;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.date(2023, 9, 26), Decimal('2023'), Decimal('9'), Decimal('26'))]

In [ ]:
%%sql
SELECT
  current_date,
  EXTRACT(y FROM current_date) AS year,
  EXTRACT(mon FROM current_date) AS month,
  EXTRACT(d FROM current_date) AS day;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.date(2023, 9, 26), Decimal('2023'), Decimal('9'), Decimal('26'))]

Además del año, mes y día, en ocasiones desearás obtener componentes adicionales, como el día de la semana, la semana del año o el trimestre. Puedes extraer estas partes de la fecha de la siguiente manera:

In [ ]:
%%sql
SELECT
  current_date,
  EXTRACT(dow FROM current_date) AS day_of_week,
  EXTRACT(week FROM current_date) AS week_of_year,
  EXTRACT(quarter FROM current_date) AS quarter;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.date(2023, 9, 26), Decimal('2'), Decimal('39'), Decimal('3'))]

Además de extraer partes de una fecha de una fecha, es posible que desees simplemente truncar tu fecha o timestamp. Por ejemplo, supongamos que deseas ver el resumen de ventas del año y mes, pero solo tienes la fecha en la tabla de ventas. Para agregar las ventas por año/mes, necesitas eliminar el día y el timestamp de la fecha y obtener la salida de año+mes. Esto se puede hacer usando muchas funciones, como DATE_TRUNC(), DATE_PART(), o EXTRACT(), cada una con una sintaxis y propósito ligeramente diferente. En el siguiente ejemplo, utilizarás la función TO_CHAR(), que extrae las partes designadas de una fecha y las organiza en una cadena, porque ofrece máxima flexibilidad sobre qué información puedes obtener y cómo deseas presentarla:

In [ ]:
%%sql
SELECT NOW(), TO_CHAR(NOW(), 'yyyymm') AS yearmonth;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.datetime(2023, 9, 26, 15, 13, 9, 644181, tzinfo=datetime.timezone.utc), '202309')]

Las funciones de extracción de partes de fecha como TO_CHAR() y EXTRACT() son particularmente útiles para las instrucciones GROUP BY. Por ejemplo, puedes usarlo para agrupar las ventas por año y mes y obtener las ventas mensuales para todo el año.

In [ ]:
%%sql
SELECT
  TO_CHAR(sales_transaction_date, 'yyyymm') AS yearmonth,
  SUM(sales_amount) AS total_quarterly_sales
FROM sales
GROUP BY 1
ORDER BY
  1 DESC LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[('202201', 5706307.722000058),
 ('202112', 5455222.157000077),
 ('202111', 4280693.541000046),
 ('202110', 3318119.411000051),
 ('202109', 3509884.9920000336),
 ('202108', 3937509.896000073),
 ('202107', 5485778.13700009),
 ('202106', 5065843.292000066),
 ('202105', 6948262.514000091),
 ('202104', 6913306.458000054)]

## Intervalos
Además de representar fechas, también puedes representar intervalos de tiempo fijos utilizando el tipo de dato INTERVAL. Este tipo de dato es útil si deseas analizar cuánto tiempo tarda algo. Por ejemplo, cuando los clientes reciben un correo electrónico promocional, pueden no abrirlo inmediatamente. El intervalo entre la fecha en que se recibe el correo electrónico y la fecha en que se abre puede indicar cuán atractivo es el correo electrónico para los clientes. Si quieres saber cuánto tiempo tarda un cliente en abrir un correo electrónico después de recibirlo, necesitas calcular el intervalo entre esas dos fechas.
Aquí hay un ejemplo:

In [ ]:
%sql SELECT INTERVAL '5 days';

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.timedelta(days=5),)]

Los intervalos son útiles para medir la diferencia entre dos marcas de tiempo al restar estas dos marcas de tiempo. También se pueden utilizar para sumar a o restar de una marca de tiempo para obtener una nueva marca de tiempo. Por ejemplo, si desea medir la longitud de febrero, puede calcular el intervalo entre el primer día de febrero y el primer día de marzo:

In [4]:
%%sql
SELECT TIMESTAMP '2022-03-01 00:00:00' - TIMESTAMP '2022-02-01
00:00:00' AS days_in_feb;

1 rows affected.

[(datetime.timedelta(days=28),)]

Alternativamente, los intervalos pueden usarse para sumar la cantidad de días a una marca de tiempo para obtener una nueva marca de tiempo, como "¿cuál es la fecha dentro de 7 días a partir de ahora?":

In [5]:
%sql SELECT TIMESTAMP '2022-06-05 00:00:00' + INTERVAL '7 days' AS new_date;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.datetime(2022, 6, 12, 0, 0),)]

Aunque los intervalos ofrecen un método preciso para realizar aritmética con marcas de tiempo, el formato DATE puede ser usado con enteros para lograr un resultado similar. En el siguiente ejemplo, simplemente sumas 7 (un entero) a la fecha para calcular la nueva fecha:

In [6]:
%sql SELECT DATE '2022-06-05' + 7 AS new_date;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(datetime.date(2022, 6, 12),)]

De manera similar, puedes restar dos fechas y obtener un resultado en enteros:

In [7]:
%sql SELECT DATE '2022-03-01' - DATE '2022-02-01' AS days_in_feb;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(28,)]

Aunque el tipo de datos DATE ofrece facilidad de uso, el tipo de datos timestamp con TIME ZONE ofrece precisión. Si necesitas que tu campo de fecha/hora sea precisamente el mismo que el momento en el que ocurrió la acción, deberías usar el timestamp con la zona horaria. Si no, puedes usar el campo DATE.

# Ejercicio 7.01: Análisis con Datos de Series Temporales
ZoomZoom ha intensificado sus esfuerzos para reclutar más clientes durante el año 2021, esperando que pueda vender más vehículos a medida que crezca el número de nuevos clientes. En este ejercicio, realizarás un análisis básico utilizando datos de series temporales para obtener información sobre si las ventas se vieron afectadas por el número de nuevos clientes. Aunque tiene sentido hacer una comparación día a día, las ventas/reclutamientos diarios pueden fluctuar significativamente. Generalmente se recomienda comenzar desde un período de tiempo más largo, como ventas/reclutamientos mensuales, y desglosar los números una vez que encuentres algún patrón.
Realiza los siguientes pasos para completar el ejercicio:
1. Primero, observa el número de ventas mensuales. Puedes usar la siguiente consulta agregada con el método TO_CHAR: